@model CliMed.Persistencia.TB_USUARIO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TB_USUARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NM_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_LOGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_LOGIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_SENHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_SENHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FL_ATIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FL_ATIVO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CD_USUARIO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
